.MenuToggle {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #222222;
    transition: all .5s ease-in;
    z-index: 100;
}
.MenuToggle:hover {
    opacity: .7
}
.MenuToggle.open {
    left: 320px;
    color: #ffffff;
}